.about-page {
  padding: 20px;
  text-align: center;
}

.about-page h1 {
  color: #333;
}

.about-btn {
  padding: 10px 20px;
  margin-top: 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.about-btn:hover {
  background-color: #0097a7;
}